<!DOCTYPE html>
<html lang="ru-RU">
  <head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="../vendor/material.min.css" />
    <script src="../vendor/material.min.js"></script>
    <link rel="stylesheet" href="../vendor/icon.css" />
    <link rel="stylesheet" href="../style.css" />
  </head>
  <body>
    <div id="app">
      <div class="mdl-spinner mdl-spinner--single-color mdl-js-spinner" :class="{'is-active': isFetching && !savedReq.length}"></div>
<!--      <div class="container-select-stand">-->
<!--        Выберите стенд:-->
<!--        <select-stand v-for="(stand, index) in standsList" :stand="stand" v-model="activeStand" :index="index"></select-stand>-->
<!--      </div>-->
      <div class="container-link-log">
        Списки логов:
        <download-btn v-for="req in savedReq" :req="req"></download-btn>
      </div>
      <download-all-btn
              :config="activeStand"
              :version="version"
              :buildDate="buildDate"
      ></download-all-btn>
      <div class="version" >Версия: {{version}}</div>
      <div>Дата и время сборки: {{buildDate}}</div>
    </div>

    <script src="../vendor/vue.js"></script>
    <script src="../components/downloadAll/index.js"></script>
    <script src="../vendor/yaml.js"></script>
    <script src="../components/downloadBtn/index.js"></script>
    <script src="../components/selectStand/index.js"></script>
    <script src="panel.js"></script>
  </body>
</html>
