<!DOCTYPE html>
<html lang="ru-RU">
<!--Начало первого блока объяснения кода-->
<head>
  <meta charset="utf-8" />
  <title>Запускатор Tproger</title>
  <link rel="stylesheet" href="./vendor/material.min.css" />
  <script src="./vendor/material.min.js"></script>
  <link rel="stylesheet" href="./vendor/icon.css" />
  <link rel="stylesheet" href="./style.css" />
  <!--ссылаемся на шрифты, используемые в документе-->
  <link
          href="https://fonts.googleapis.com/css?family=Open+Sans"
          rel="stylesheet"
          type="text/css"
  />

  <link rel="stylesheet" href="./styles/popup.css" />

</head>

<body>

<div class="modal-header">
  <h1 class="logo">
    Логирование в cards.credit
  </h1>
</div>

<div class="modal-content">
  <button id="button-click" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored update-btn">
    Обновить
  </button>
</div>

<div id="app">
  <div class="mdl-spinner mdl-spinner--single-color mdl-js-spinner" :class="{'is-active': isFetching && !savedReq.length}"></div>

  <div class="container-link-log">
    Списки логов:
    <download-btn v-for="req in savedReq" :req="req"></download-btn>
  </div>
  <download-all-btn
          v-if="activeStand"
          :config="activeStand"
          :version="version"
          :buildDate="buildDate"
  ></download-all-btn>
  <div class="version" >Версия: {{version}}</div>
  <div>Дата и время сборки: {{buildDate}}</div>
</div>

<div class="oh-uh">Ошибочка</div>
<script src="utils/screenshot.js"></script>
<script src="./utils/index.js"></script>
<script src="vendor/vue.js"></script>
<script src="components/downloadAll/index.js"></script>
<script src="components/downloadBtn/index.js"></script>
<script src="popup.js"></script>
</body>
</html>
