body {
    background: white;
    font-size: 16px;
}

#app {
    width: 1000px;
    padding: 10px;
}

.mdl-list__item {
    align-items: start;
}

.mdl-list__item .title.mdl-list__item-primary-content {
    flex: 1 1 150px;
}
.mdl-list__item .content.mdl-list__item-secondary-content {
    flex: 20 1 auto;
}

.mdl-list__item .content.mdl-list__item-secondary-content .mdl-textfield {
    width: 100%;
}

.mdl-list__item-secondary-content {
    display: flex;
    flex-direction: row;
}

.mdl-spinner {
    position: absolute;
    top: 34%;
    left: 43%;
    height: 90px;
    width: 90px;
}

#app .mdl-spinner:not(.is-upgraded).is-active:after {
    content: '';
}

.container-select-stand {
    display: flex;
}

.container-select-stand label {
    margin: 0 20px;
}

.container-link-log {
    display: flex;
    flex-direction: column;
    height: 200px;
    max-height: 200px;
    overflow-y: auto;
}

.container-link-log a {
    margin: 10px 0;
}

.version {
    margin-top: 10px;
}

.container-link-log a:link, .container-link-log a:visited, .container-link-log a {
    color: #ff4081;
    font-weight: 500;
}

.container-link-log a:hover {
    text-decoration: underline;
}
